<template>
  <h1 v-if="!pokemon">Espere par favar ...</h1>
  <template v-else>
    <h1>Quién es este pokemon?</h1>
    <PokemonPicture :pokemonId="pokemon.id" :showPokemon="showPokemon" />
    <PokemonOptions :pokemons="pokemonArr" @selection="checkAnswer"/>

    <template v-if="showAnswer">
      <h2 class="fade-in">{{ message }}</h2>
      <button @click="newGame">Nuevo juego</button>
    </template>

  </template>
</template>

<script>
import PokemonOptions from "@/components/PokemonOptions.vue";
import PokemonPicture from "@/components/PokemonPicture.vue";

import getPokemonOptions from '@/helpers/getPokemonOptions'

  export default {
    components: {
      PokemonOptions,
      PokemonPicture
    },
    data() {
      return {
        pokemonArr: [],
        pokemon: null,
        showPokemon: false,
        showAnswer: false,
        message: ''
      }
    },
    methods: {
      async mixPokemonArray() {
        this.pokemonArr = await getPokemonOptions()
        const rndInt = Math.floor(Math.random()*4)
        this.pokemon = this.pokemonArr[rndInt]
      },
      checkAnswer(selectedId) {
        this.showPokemon = true
        this.showAnswer = true
        if(selectedId === this.pokemon.id) {
          this.message = `Correcto, ${this.pokemon.name}`
        } else {
          this.message = `Oops, era ${this.pokemon.name}`
        }
      },
      newGame() {
        this.pokemon = null
        this.showAnswer = false
        this.showPokemon = false
        this.mixPokemonArray()
      }
    },
    mounted() {
      this.mixPokemonArray()
    }
  }
</script>

<style lang="scss" scoped>

</style>