<template>
  <PokemonPage/>
</template>

<script>
import PokemonPage from './pages/PokemonPage.vue'

  export default {
    name: 'App',
    components: {
      PokemonPage,
    },
  }
</script>

<style lang="scss" scoped>

</style>